OBSIDIAN_VAULT_PATH=/Users/ujwalgattupalli/Dev/evermind/evermind
EVERMIND_INBOX_SUBDIR=inbox/raw
EVERMIND_ATTACHMENTS_SUBDIR=attachments/evermind
EVERMIND_CLI_PATH=/Users/ujwalgattupalli/Dev/evermind/scraper/bin/evermind
